* {box-sizing: border-box;}

body{
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin: 15px auto;
}

#gameBoard {
    width: 604px;
    height: 604px;
    border: 2px solid black;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}